*{
    margin: 0;
    padding: 0;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
.home_screen{
    background-color: #000000;
    min-height: 100vh;
    padding-left: 380px;
    padding-right: 100px;
    align-items: center;

}
.search-bar{
    width: 300px;
    height: 40px;
    background-color: #383636;
    margin-left: 60px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 180, 180);
}
.logo-1{
    width: 52%;
    height: 250px;
}
.recommend-btn{
    width: 90px;
    height: 40px;
    /* margin-left: 10px; */
    background-color: #b30909;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(182, 180, 180);
}
.recommendation_heading{
    width: 400px;
    height: 30px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #2e2d2d;
    text-align: center;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: whitesmoke;
}

.recommended_movies_list {
    list-style: none;
    padding: 0;
}

.recommended_movies_list li {
    padding: 10px;
    width: 380px;
    height: 30px;
    margin-left: 55px;
    margin-top: 5px;
    /* margin: 5px 0; */
    background-color: #181818;
    border-radius: 8px;
    transition: 0.3s;
}

.recommended_movies_list li:hover {
    background-color: #181818;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 0px 8px gray;
}
#movies{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
    color: rgb(182, 180, 180);
}

